.dropdown {
position:relative;
display:inline-block;
}

.dropdown-content {
display: none;
position: absolute;
margin: 35px 600px 0px 0px;

}
.dropdown-content a {
display: block;
float: right;
padding: 5px;
}
.dropdown:hover .dropdown-content {
display:grid;
}

body{
background-image:url('../images/jeep.jpg') ;
background-repeat: no-repeat;
background-size: cover; 
}
.container {
width:70%;
border:none;
margin:auto; 
height:480px;
font-family: roboto;
}
.header{
background-image: url('../images/001.jpg');
background-repeat: no-repeat;
background-size: 150px 80px;
height: 15%;
color: black;
background-color:grey;
padding-bottom: 5px;
}
.footer {
padding-top: 10px;
height: 15%;
color: black;
background-color:grey;
}

ul li {
text-align: center;
float:right;
list-style: none;
}

#logo {
padding: 10px 10px 0px 10px;
font-weight: bold;
color: white;
}

#lgbtn{
border: 0;
padding:0;
background-color: transparent;
color: black

}
a{
text-decoration: none;
float: right;
padding: 5px;
margin: 5px;
color: white;
border: 1px solid black;
border-radius: 10px;
background-color:skyblue;
}
a:hover{
background-color:wheat;
}

.grid-item {
padding: 5px;
text-align:justify;
margin:10px 10px;
}
.intro{
width: 80%;
margin: auto;
padding: 5%;
text-align: center
}

.content{
display: grid;
grid-template-columns: auto auto auto;
text-align: justify;
}

.user{
height: 400px;
background-color: bisque;  
color: black;
margin: auto;
padding:20px;
overflow:auto;
display: grid;
}

th, td {
text-align: left;
padding: 5px;

}

table, th, td {
border: 1px solid black;
border-collapse: collapse;

}

.tb01 {
background-color: #f1f1c1;}
.nav{
border: 1px solid black;
border-radius: 20px;

}
h6{
text-align: right;
padding: 0px;
margin: 0px;
}
caption{
text-align: left;
}
.candidate{
display: grid;
background-color: bisque;
color: black;
margin: auto;
padding-left: 3%
}
#h3{
text-align: center;
}
#sub{
height: 30px;
width: 70px;
}
#scl{

float: none;
padding: 0;
margin: 0;
color:black;
border: 1px solid black;
border-radius: 1px;
background-color:transparent;
}
#srch{
    border-radius: 10px;
    padding: 10px;
}